source https://api.nuget.org/v3/index.json

storage: none
framework: auto-detect

nuget FSharp.Core ~> 8.0.403
nuget FsToolkit.ErrorHandling
nuget Expecto
nuget FsCheck
nuget Expecto.FsCheck

group Docs
  source https://api.nuget.org/v3/index.json

  framework: auto-detect
  storage: symlink

  nuget FSharp.Core ~> 8.0.403
  nuget FSharp.Compiler.Service
  nuget FSharp.Formatting
  nuget Newtonsoft.Json
