source https://api.nuget.org/v3/index.json

storage: none
framework: net8.0

nuget FSharp.Core
nuget FsToolkit.ErrorHandling
nuget FsToolkit.ErrorHandling.TaskResult
nuget Expecto
nuget FsCheck
nuget Expecto.FsCheck

group Docs
  source https://api.nuget.org/v3/index.json

  framework: net8.0
  storage: symlink

  nuget FSharp.Compiler.Service
  nuget FSharp.Formatting
  nuget Newtonsoft.Json